In [4]:
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt
import pprint as pprint
import numpy as np
import glob

In [32]:
filepath = "/Users/ebimoosa/Desktop/SMU/Personal SMU/project 1/smu_project1_baseball/baseballdatabank-master/core"
all_files = glob.glob(filepath + "/*.csv")
all_files

['/Users/ebimoosa/Desktop/SMU/Personal SMU/project 1/smu_project1_baseball/baseballdatabank-master/core/Fielding.csv',
 '/Users/ebimoosa/Desktop/SMU/Personal SMU/project 1/smu_project1_baseball/baseballdatabank-master/core/Salaries.csv',
 '/Users/ebimoosa/Desktop/SMU/Personal SMU/project 1/smu_project1_baseball/baseballdatabank-master/core/People.csv',
 '/Users/ebimoosa/Desktop/SMU/Personal SMU/project 1/smu_project1_baseball/baseballdatabank-master/core/Teams.csv',
 '/Users/ebimoosa/Desktop/SMU/Personal SMU/project 1/smu_project1_baseball/baseballdatabank-master/core/Batting.csv',
 '/Users/ebimoosa/Desktop/SMU/Personal SMU/project 1/smu_project1_baseball/baseballdatabank-master/core/FieldingOF.csv',
 '/Users/ebimoosa/Desktop/SMU/Personal SMU/project 1/smu_project1_baseball/baseballdatabank-master/core/SeriesPost.csv']

In [33]:
li = []

for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    li.append(df)

frame = pd.concat(li, axis=0, ignore_index=True)

In [35]:
frame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 315684 entries, 0 to 315683
Data columns (total 97 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   playerID        312371 non-null  object
 1   yearID          295326 non-null  float64
 2   stint           265585 non-null  float64
 3   teamID          282940 non-null  object
 4   lgID            280641 non-null  object
 5   POS             144768 non-null  object
 6   G               256512 non-null  float64
 7   GS              98612 non-null   float64
 8   InnOuts         114839 non-null  float64
 9   PO              144768 non-null  float64
 10  A               144768 non-null  float64
 11  E               147722 non-null  float64
 12  DP              147723 non-null  float64
 13  PB              11709 non-null   float64
 14  WP              1169 non-null    float64
 15  SB              118172 non-null  float64
 16  CS              96293 non-null   float64
 17  ZR              1169 non-null    float64
 18  salary          26428 non-null   float64
 19  birthYear       20247 non-null   float64
 20  birthMonth      20079 non-null   float64
 21  birthDay        19938 non-null   float64
 22  birthCountry    20299 non-null   object
 23  birthState      19824 non-null   object
 24  birthCity       20190 non-null   object
 25  deathYear       9996 non-null    float64
 26  deathMonth      9995 non-null    float64
 27  deathDay        9994 non-null    float64
 28  deathCountry    9992 non-null    object
 29  deathState      9939 non-null    object
 30  deathCity       9986 non-null    object
 31  nameFirst       20321 non-null   object
 32  nameLast        20358 non-null   object
 33  nameGiven       20321 non-null   object
 34  weight          19543 non-null   float64
 35  height          19623 non-null   float64
 36  bats            19179 non-null   object
 37  throws          19383 non-null   object
 38  debut           20160 non-null   object
 39  finalGame       20160 non-null   object
 40  retroID         20309 non-null   object
 41  bbrefID         20356 non-null   object
 42  franchID        2955 non-null    object
 43  divID           1438 non-null    object
 44  Rank            2955 non-null    float64
 45  Ghome           2556 non-null    float64
 46  W               2955 non-null    float64
 47  L               2955 non-null    float64
 48  DivWin          1410 non-null    object
 49  WCWin           774 non-null     object
 50  LgWin           2927 non-null    object
 51  WSWin           2598 non-null    object
 52  R               111744 non-null  float64
 53  AB              111744 non-null  float64
 54  H               111744 non-null  float64
 55  2B              111744 non-null  float64
 56  3B              111744 non-null  float64
 57  HR              111744 non-null  float64
 58  BB              111743 non-null  float64
 59  SO              109628 non-null  float64
 60  HBP             107770 non-null  float64
 61  SF              74100 non-null   float64
 62  RA              2955 non-null    float64
 63  ER              2955 non-null    float64
 64  ERA             2955 non-null    float64
 65  CG              2955 non-null    float64
 66  SHO             2955 non-null    float64
 67  SV              2955 non-null    float64
 68  IPouts          2955 non-null    float64
 69  HA              2955 non-null    float64
 70  HRA             2955 non-null    float64
 71  BBA             2955 non-null    float64
 72  SOA             2955 non-null    float64
 73  FP              2955 non-null    float64
 74  name            2955 non-null    object
 75  park            2921 non-null    object
 76  attendance      2676 non-null    float64
 77  BPF             2955 non-null    float64
 78  PPF             2955 non-null    float64
 79  teamIDBR        2955 non-null    object
 80  teamIDlahman45  2955 non-null    object
 81  teamIDretro     2955 non-null    object
 82  RBI             108033 non-null  float64
 83  IBB             72139 non-null   float64
 84  SH              102721 non-null  float64
 85  GIDP            83348 non-null   float64
 86  Glf             11991 non-null   float64
 87  Gcf             11991 non-null   float64
 88  Grf             11985 non-null   float64
 89  round           358 non-null     object
 90  teamIDwinner    358 non-null     object
 91  lgIDwinner      358 non-null     object
 92  teamIDloser     358 non-null     object
 93  lgIDloser       358 non-null     object
 94  wins            358 non-null     float64
 95  losses          358 non-null     float64
 96  ties            358 non-null     float64
dtypes: float64(62), object(35)
memory usage: 233.6+ MB

In [35]:
# read in csv's


filepath2 = "Core/Batting.csv"

filepath3 = "Core/Salaries.csv"

filepath4 = "Core/People.csv"

filepath5 = "Core/Fielding.csv"

filepath6 = "Core/FieldingOF.csv"

filepath8 = "Core/Teams.csv"

filepath12 = "Core/SeriesPost.csv"


playerAwards_df = pd.read_csv(filepath1)

batting_df = pd.read_csv(filepath2)

salaries_df = pd.read_csv(filepath3)

players_df = pd.read_csv(filepath4)

fielding_df = pd.read_csv(filepath5)

fieldingOF_df = pd.read_csv(filepath6)

pitching_df = pd.read_csv(filepath7)

teams_df = pd.read_csv(filepath8)

batting_post_df = pd.read_csv(filepath9)

pitching_post_df = pd.read_csv(filepath10)

fielding_post_df = pd.read_csv(filepath11)

series_post_df = pd.read_csv(filepath12)

In [36]:
# .info() for all read csv's

print(playerAwards_df.info())
print(batting_df.info())
print(salaries_df.info())
print(players_df.info())
print(fielding_df.info())
print(fieldingOF_df.info())
print(pitching_df.info())
print(teams_df.info())
print(batting_post_df.info())
print(pitching_post_df.info())
print(fielding_post_df.info())
print(series_post_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6531 entries, 0 to 6530
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   playerID  6531 non-null   object
 1   awardID   6531 non-null   object
 2   yearID    6531 non-null   int64
 3   lgID      6526 non-null   object
 4   tie       53 non-null     object
 5   notes     4999 non-null   object
dtypes: int64(1), object(5)
memory usage: 306.3+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 108789 entries, 0 to 108788
Data columns (total 22 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   playerID  108789 non-null  object
 1   yearID    108789 non-null  int64
 2   stint     108789 non-null  int64
 3   teamID    108789 non-null  object
 4   lgID      108052 non-null  object
 5   G         108789 non-null  int64
 6   AB        108789 non-null  int64
 7   R         108789 non-null  int64
 8   H         108789 non-null  int64
 9   2B        108789 non-null  int64
 10  3B        108789 non-null  int64
 11  HR        108789 non-null  int64
 12  RBI       108033 non-null  float64
 13  SB        106421 non-null  float64
 14  CS        85248 non-null   float64
 15  BB        108789 non-null  int64
 16  SO        106689 non-null  float64
 17  IBB       72139 non-null   float64
 18  HBP       105973 non-null  float64
 19  SH        102721 non-null  float64
 20  SF        72686 non-null   float64
 21  GIDP      83348 non-null   float64
dtypes: float64(9), int64(10), object(3)
memory usage: 18.3+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26428 entries, 0 to 26427
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   yearID    26428 non-null  int64
 1   teamID    26428 non-null  object
 2   lgID      26428 non-null  object
 3   playerID  26428 non-null  object
 4   salary    26428 non-null  int64
dtypes: int64(2), object(3)
memory usage: 1.0+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20358 entries, 0 to 20357
Data columns (total 24 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   playerID      20358 non-null  object
 1   birthYear     20247 non-null  float64
 2   birthMonth    20079 non-null  float64
 3   birthDay      19938 non-null  float64
 4   birthCountry  20299 non-null  object
 5   birthState    19824 non-null  object
 6   birthCity     20190 non-null  object
 7   deathYear     9996 non-null   float64
 8   deathMonth    9995 non-null   float64
 9   deathDay      9994 non-null   float64
 10  deathCountry  9992 non-null   object
 11  deathState    9939 non-null   object
 12  deathCity     9986 non-null   object
 13  nameFirst     20321 non-null  object
 14  nameLast      20358 non-null  object
 15  nameGiven     20321 non-null  object
 16  weight        19543 non-null  float64
 17  height        19623 non-null  float64
 18  bats          19179 non-null  object
 19  throws        19383 non-null  object
 20  debut         20160 non-null  object
 21  finalGame     20160 non-null  object
 22  retroID       20309 non-null  object
 23  bbrefID       20356 non-null  object
dtypes: float64(8), object(16)
memory usage: 3.7+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 144768 entries, 0 to 144767
Data columns (total 18 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   playerID  144768 non-null  object
 1   yearID    144768 non-null  int64
 2   stint     144768 non-null  int64
 3   teamID    144768 non-null  object
 4   lgID      143256 non-null  object
 5   POS       144768 non-null  object
 6   G         144768 non-null  int64
 7   GS        98612 non-null   float64
 8   InnOuts   114839 non-null  float64
 9   PO        144768 non-null  int64
 10  A         144768 non-null  int64
 11  E         144767 non-null  float64
 12  DP        144768 non-null  int64
 13  PB        11709 non-null   float64
 14  WP        1169 non-null    float64
 15  SB        8922 non-null    float64
 16  CS        8922 non-null    float64
 17  ZR        1169 non-null    float64
dtypes: float64(8), int64(6), object(4)
memory usage: 19.9+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12028 entries, 0 to 12027
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   playerID  12028 non-null  object
 1   yearID    12028 non-null  int64
 2   stint     12028 non-null  int64
 3   Glf       11991 non-null  float64
 4   Gcf       11991 non-null  float64
 5   Grf       11985 non-null  float64
dtypes: float64(3), int64(2), object(1)
memory usage: 563.9+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48399 entries, 0 to 48398
Data columns (total 30 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   playerID  48399 non-null  object
 1   yearID    48399 non-null  int64
 2   stint     48399 non-null  int64
 3   teamID    48399 non-null  object
 4   lgID      48267 non-null  object
 5   W         48399 non-null  int64
 6   L         48399 non-null  int64
 7   G         48399 non-null  int64
 8   GS        48399 non-null  int64
 9   CG        48399 non-null  int64
 10  SHO       48399 non-null  int64
 11  SV        48399 non-null  int64
 12  IPouts    48399 non-null  int64
 13  H         48399 non-null  int64
 14  ER        48399 non-null  int64
 15  HR        48399 non-null  int64
 16  BB        48399 non-null  int64
 17  SO        48399 non-null  int64
 18  BAOpp     43958 non-null  float64
 19  ERA       48305 non-null  float64
 20  IBB       33821 non-null  float64
 21  WP        48399 non-null  int64
 22  HBP       47665 non-null  float64
 23  BK        48399 non-null  int64
 24  BFP       48396 non-null  float64
 25  GF        48399 non-null  int64
 26  R         48399 non-null  int64
 27  SH        29212 non-null  float64
 28  SF        29212 non-null  float64
 29  GIDP      28081 non-null  float64
dtypes: float64(8), int64(19), object(3)
memory usage: 11.1+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2955 entries, 0 to 2954
Data columns (total 48 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   yearID          2955 non-null   int64
 1   lgID            2905 non-null   object
 2   teamID          2955 non-null   object
 3   franchID        2955 non-null   object
 4   divID           1438 non-null   object
 5   Rank            2955 non-null   int64
 6   G               2955 non-null   int64
 7   Ghome           2556 non-null   float64
 8   W               2955 non-null   int64
 9   L               2955 non-null   int64
 10  DivWin          1410 non-null   object
 11  WCWin           774 non-null    object
 12  LgWin           2927 non-null   object
 13  WSWin           2598 non-null   object
 14  R               2955 non-null   int64
 15  AB              2955 non-null   int64
 16  H               2955 non-null   int64
 17  2B              2955 non-null   int64
 18  3B              2955 non-null   int64
 19  HR              2955 non-null   int64
 20  BB              2954 non-null   float64
 21  SO              2939 non-null   float64
 22  SB              2829 non-null   float64
 23  CS              2123 non-null   float64
 24  HBP             1797 non-null   float64
 25  SF              1414 non-null   float64
 26  RA              2955 non-null   int64
 27  ER              2955 non-null   int64
 28  ERA             2955 non-null   float64
 29  CG              2955 non-null   int64
 30  SHO             2955 non-null   int64
 31  SV              2955 non-null   int64
 32  IPouts          2955 non-null   int64
 33  HA              2955 non-null   int64
 34  HRA             2955 non-null   int64
 35  BBA             2955 non-null   int64
 36  SOA             2955 non-null   int64
 37  E               2955 non-null   int64
 38  DP              2955 non-null   int64
 39  FP              2955 non-null   float64
 40  name            2955 non-null   object
 41  park            2921 non-null   object
 42  attendance      2676 non-null   float64
 43  BPF             2955 non-null   int64
 44  PPF             2955 non-null   int64
 45  teamIDBR        2955 non-null   object
 46  teamIDlahman45  2955 non-null   object
 47  teamIDretro     2955 non-null   object
dtypes: float64(10), int64(25), object(13)
memory usage: 1.1+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15460 entries, 0 to 15459
Data columns (total 22 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   yearID    15460 non-null  int64
 1   round     15460 non-null  object
 2   playerID  15460 non-null  object
 3   teamID    15460 non-null  object
 4   lgID      15460 non-null  object
 5   G         15460 non-null  int64
 6   AB        15460 non-null  int64
 7   R         15460 non-null  int64
 8   H         15460 non-null  int64
 9   2B        15460 non-null  int64
 10  3B        15460 non-null  int64
 11  HR        15460 non-null  int64
 12  RBI       15460 non-null  int64
 13  SB        15460 non-null  int64
 14  CS        15259 non-null  float64
 15  BB        15460 non-null  int64
 16  SO        15460 non-null  int64
 17  IBB       15460 non-null  int64
 18  HBP       15259 non-null  float64
 19  SH        15259 non-null  float64
 20  SF        15259 non-null  float64
 21  GIDP      15259 non-null  float64
dtypes: float64(5), int64(13), object(4)
memory usage: 2.6+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6120 entries, 0 to 6119
Data columns (total 30 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   playerID  6120 non-null   object
 1   yearID    6120 non-null   int64
 2   round     6120 non-null   object
 3   teamID    6120 non-null   object
 4   lgID      6120 non-null   object
 5   W         6120 non-null   int64
 6   L         6120 non-null   int64
 7   G         6120 non-null   int64
 8   GS        6120 non-null   int64
 9   CG        6120 non-null   int64
 10  SHO       6120 non-null   int64
 11  SV        6120 non-null   int64
 12  IPouts    6120 non-null   int64
 13  H         6120 non-null   int64
 14  ER        6120 non-null   int64
 15  HR        6120 non-null   int64
 16  BB        6120 non-null   int64
 17  SO        6120 non-null   int64
 18  BAOpp     6049 non-null   float64
 19  ERA       6086 non-null   float64
 20  IBB       6070 non-null   float64
 21  WP        6070 non-null   float64
 22  HBP       6070 non-null   float64
 23  BK        6070 non-null   float64
 24  BFP       6070 non-null   float64
 25  GF        6120 non-null   int64
 26  R         6120 non-null   int64
 27  SH        6070 non-null   float64
 28  SF        6070 non-null   float64
 29  GIDP      6070 non-null   float64
dtypes: float64(10), int64(16), object(4)
memory usage: 1.4+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14647 entries, 0 to 14646
Data columns (total 17 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   playerID  14647 non-null  object
 1   yearID    14647 non-null  int64
 2   teamID    14647 non-null  object
 3   lgID      14647 non-null  object
 4   round     14647 non-null  object
 5   POS       14647 non-null  object
 6   G         14647 non-null  int64
 7   GS        14647 non-null  int64
 8   InnOuts   14647 non-null  int64
 9   PO        14647 non-null  int64
 10  A         14647 non-null  int64
 11  E         14647 non-null  int64
 12  DP        14647 non-null  int64
 13  TP        14647 non-null  int64
 14  PB        1142 non-null   float64
 15  SB        0 non-null      float64
 16  CS        0 non-null      float64
dtypes: float64(3), int64(9), object(5)
memory usage: 1.9+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 358 entries, 0 to 357
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   yearID        358 non-null    int64
 1   round         358 non-null    object
 2   teamIDwinner  358 non-null    object
 3   lgIDwinner    358 non-null    object
 4   teamIDloser   358 non-null    object
 5   lgIDloser     358 non-null    object
 6   wins          358 non-null    int64
 7   losses        358 non-null    int64
 8   ties          358 non-null    int64
dtypes: int64(4), object(5)
memory usage: 25.3+ KB
None