In [4]:
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt
import pprint as pprint
import numpy as np
import glob

In [51]:
filepath = "/Users/ebimoosa/Desktop/SMU/Personal SMU/project 1/smu_project1_baseball/baseballdatabank-master/core"
all_files = glob.glob(filepath + "/*.csv")
all_files

['/Users/ebimoosa/Desktop/SMU/Personal SMU/project 1/smu_project1_baseball/baseballdatabank-master/core/Fielding.csv',
 '/Users/ebimoosa/Desktop/SMU/Personal SMU/project 1/smu_project1_baseball/baseballdatabank-master/core/Salaries.csv',
 '/Users/ebimoosa/Desktop/SMU/Personal SMU/project 1/smu_project1_baseball/baseballdatabank-master/core/Teams.csv',
 '/Users/ebimoosa/Desktop/SMU/Personal SMU/project 1/smu_project1_baseball/baseballdatabank-master/core/Batting.csv',
 '/Users/ebimoosa/Desktop/SMU/Personal SMU/project 1/smu_project1_baseball/baseballdatabank-master/core/FieldingOF.csv',
 '/Users/ebimoosa/Desktop/SMU/Personal SMU/project 1/smu_project1_baseball/baseballdatabank-master/core/SeriesPost.csv']

In [54]:
li = []

for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    li.append(df)

frame = pd.concat(li, axis=0, ignore_index=True)

In [79]:
df2 = frame[(frame['yearID'] >= 2000) & (frame['yearID'] <= 2016) ]

In [48]:
# Read in Salaries 

filepath = "core/Salaries.csv"

salaries_df = pd.read_csv(filepath)

salaries_df

       yearID teamID lgID   playerID    salary
0        1985    ATL   NL  barkele01    870000
1        1985    ATL   NL  bedrost01    550000
2        1985    ATL   NL  benedbr01    545000
3        1985    ATL   NL   campri01    633333
4        1985    ATL   NL  ceronri01    625000
...       ...    ...  ...        ...       ...
26423    2016    WAS   NL  strasst01  10400000
26424    2016    WAS   NL  taylomi02    524000
26425    2016    WAS   NL  treinbl01    524900
26426    2016    WAS   NL  werthja01  21733615
26427    2016    WAS   NL  zimmery01  14000000

[26428 rows x 5 columns]

In [81]:
# Filter by years 2000 to 2016

salaries = salaries_df[(salaries_df['yearID'] >= 2000) & (salaries_df['yearID'] <= 2016) ]

salaries

       yearID teamID lgID   playerID    salary
12263    2000    ANA   AL  anderga01   3250000
12264    2000    ANA   AL  belchti01   4600000
12265    2000    ANA   AL  botteke01   4000000
12266    2000    ANA   AL  clemeed02    215000
12267    2000    ANA   AL  colanmi01    200000
...       ...    ...  ...        ...       ...
26423    2016    WAS   NL  strasst01  10400000
26424    2016    WAS   NL  taylomi02    524000
26425    2016    WAS   NL  treinbl01    524900
26426    2016    WAS   NL  werthja01  21733615
26427    2016    WAS   NL  zimmery01  14000000

[14165 rows x 5 columns]

In [59]:
# Read in Teams

filepath2 = "core/Teams.csv"

teams_df = pd.read_csv(filepath2)

teams_df. columns

Index(['yearID', 'lgID', 'teamID', 'franchID', 'divID', 'Rank', 'G', 'Ghome',
       'W', 'L', 'DivWin', 'WCWin', 'LgWin', 'WSWin', 'R', 'AB', 'H', '2B',
       '3B', 'HR', 'BB', 'SO', 'SB', 'CS', 'HBP', 'SF', 'RA', 'ER', 'ERA',
       'CG', 'SHO', 'SV', 'IPouts', 'HA', 'HRA', 'BBA', 'SOA', 'E', 'DP', 'FP',
       'name', 'park', 'attendance', 'BPF', 'PPF', 'teamIDBR',
       'teamIDlahman45', 'teamIDretro'],
      dtype='object')

In [68]:
# Filter by years 2000 to 2016

teams_df2 = teams_df[(teams_df['yearID'] >= 2000) & (teams_df['yearID'] <= 2016) ]

teams_df2

,yearID,lgID,teamID,franchID,divID,Rank,G,Ghome,W,L,...,DP,FP,name,park,attendance,BPF,PPF,teamIDBR,teamIDlahman45,teamIDretro
2325,2000,AL,ANA,ANA,W,3,162,81.0,82,80,...,182,0.978,Anaheim Angels,Edison International Field,2066982.0,102,103,ANA,ANA,ANA
2326,2000,NL,ARI,ARI,W,3,162,81.0,85,77,...,138,0.982,Arizona Diamondbacks,Bank One Ballpark,2942251.0,105,103,ARI,ARI,ARI
2327,2000,NL,ATL,ATL,E,1,162,81.0,95,67,...,138,0.979,Atlanta Braves,Turner Field,3234304.0,101,99,ATL,ATL,ATL
2328,2000,AL,BAL,BAL,E,4,162,81.0,74,88,...,151,0.981,Baltimore Orioles,Oriole Park at Camden Yards,3297031.0,95,96,BAL,BAL,BAL
2329,2000,AL,BOS,BOS,E,2,162,81.0,85,77,...,120,0.982,Boston Red Sox,Fenway Park II,2585895.0,104,103,BOS,BOS,BOS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2830,2016,NL,SLN,STL,C,2,162,81.0,86,76,...,169,0.983,St. Louis Cardinals,Busch Stadium III,3444490.0,100,99,STL,SLN,SLN
2831,2016,AL,TBA,TBD,E,5,162,81.0,68,94,...,129,0.984,Tampa Bay Rays,Tropicana Field,1286163.0,93,94,TBR,TBA,TBA
2832,2016,AL,TEX,TEX,W,1,162,81.0,95,67,...,190,0.984,Texas Rangers,Rangers Ballpark in Arlington,2710402.0,106,105,TEX,TEX,TEX
2833,2016,AL,TOR,TOR,E,2,162,81.0,89,73,...,144,0.986,Toronto Blue Jays,Rogers Centre,3392099.0,111,110,TOR,TOR,TOR
2834,2016,NL,WAS,WSN,E,1,162,81.0,95,67,...,142,0.988,Washington Nationals,Nationals Park,2481938.0,100,98,WSN,MON,WAS

In [75]:
# Remove columns that were not needed 

teams = teams_df2[['yearID', 'teamID', 'lgID', 'franchID', 'divID', 'G', 'W', 'L', 'DivWin', 'WCWin', 'LgWin', 'WSWin', 'R', 'AB', 'H', '2B','3B', 'HR', 'BB', 'SO', 'SB', 'CS', 'HBP', 'SF', 'RA', 'ER', 'ERA', 'CG', 'SHO', 'SV', 'IPouts', 'HA', 'HRA', 'BBA', 'SOA', 'E', 'DP', 'FP', 'BPF', 'PPF']]

In [76]:
teams

,yearID,teamID,lgID,franchID,divID,G,W,L,DivWin,WCWin,...,IPouts,HA,HRA,BBA,SOA,E,DP,FP,BPF,PPF
2325,2000,ANA,AL,ANA,W,162,82,80,N,N,...,4344,1534,228,662,846,134,182,0.978,102,103
2326,2000,ARI,NL,ARI,W,162,85,77,N,N,...,4331,1441,190,500,1220,107,138,0.982,105,103
2327,2000,ATL,NL,ATL,E,162,95,67,Y,N,...,4321,1428,165,484,1093,129,138,0.979,101,99
2328,2000,BAL,AL,BAL,E,162,74,88,N,N,...,4300,1547,202,665,1017,116,151,0.981,95,96
2329,2000,BOS,AL,BOS,E,162,85,77,N,N,...,4358,1433,173,498,1121,109,120,0.982,104,103
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2830,2016,SLN,NL,STL,C,162,86,76,N,N,...,4345,1432,159,475,1290,107,169,0.983,100,99
2831,2016,TBA,AL,TBD,E,162,68,94,N,N,...,4279,1395,210,491,1357,94,129,0.984,93,94
2832,2016,TEX,AL,TEX,W,162,95,67,Y,N,...,4329,1441,201,534,1154,97,190,0.984,106,105
2833,2016,TOR,AL,TOR,E,162,89,73,N,Y,...,4378,1340,183,461,1314,88,144,0.986,111,110
2834,2016,WAS,NL,WSN,E,162,95,67,Y,N,...,4379,1272,155,468,1476,73,142,0.988,100,98

In [78]:
teams.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 510 entries, 2325 to 2834
Data columns (total 40 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   yearID    510 non-null    int64
 1   teamID    510 non-null    object
 2   lgID      510 non-null    object
 3   franchID  510 non-null    object
 4   divID     510 non-null    object
 5   G         510 non-null    int64
 6   W         510 non-null    int64
 7   L         510 non-null    int64
 8   DivWin    510 non-null    object
 9   WCWin     510 non-null    object
 10  LgWin     510 non-null    object
 11  WSWin     510 non-null    object
 12  R         510 non-null    int64
 13  AB        510 non-null    int64
 14  H         510 non-null    int64
 15  2B        510 non-null    int64
 16  3B        510 non-null    int64
 17  HR        510 non-null    int64
 18  BB        510 non-null    float64
 19  SO        510 non-null    float64
 20  SB        510 non-null    float64
 21  CS        510 non-null    float64
 22  HBP       510 non-null    float64
 23  SF        510 non-null    float64
 24  RA        510 non-null    int64
 25  ER        510 non-null    int64
 26  ERA       510 non-null    float64
 27  CG        510 non-null    int64
 28  SHO       510 non-null    int64
 29  SV        510 non-null    int64
 30  IPouts    510 non-null    int64
 31  HA        510 non-null    int64
 32  HRA       510 non-null    int64
 33  BBA       510 non-null    int64
 34  SOA       510 non-null    int64
 35  E         510 non-null    int64
 36  DP        510 non-null    int64
 37  FP        510 non-null    float64
 38  BPF       510 non-null    int64
 39  PPF       510 non-null    int64
dtypes: float64(8), int64(24), object(8)
memory usage: 163.4+ KB

In [90]:
# Merge team and salaries

data = teams.merge(salaries, on = ['teamID', 'yearID', 'teamID', 'lgID'], how = 'inner')

In [91]:
data

,yearID,teamID,lgID,franchID,divID,G,W,L,DivWin,WCWin,...,HRA,BBA,SOA,E,DP,FP,BPF,PPF,playerID,salary
0,2000,ANA,AL,ANA,W,162,82,80,N,N,...,228,662,846,134,182,0.978,102,103,anderga01,3250000
1,2000,ANA,AL,ANA,W,162,82,80,N,N,...,228,662,846,134,182,0.978,102,103,belchti01,4600000
2,2000,ANA,AL,ANA,W,162,82,80,N,N,...,228,662,846,134,182,0.978,102,103,botteke01,4000000
3,2000,ANA,AL,ANA,W,162,82,80,N,N,...,228,662,846,134,182,0.978,102,103,clemeed02,215000
4,2000,ANA,AL,ANA,W,162,82,80,N,N,...,228,662,846,134,182,0.978,102,103,colanmi01,200000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14160,2016,WAS,NL,WSN,E,162,95,67,Y,N,...,155,468,1476,73,142,0.988,100,98,strasst01,10400000
14161,2016,WAS,NL,WSN,E,162,95,67,Y,N,...,155,468,1476,73,142,0.988,100,98,taylomi02,524000
14162,2016,WAS,NL,WSN,E,162,95,67,Y,N,...,155,468,1476,73,142,0.988,100,98,treinbl01,524900
14163,2016,WAS,NL,WSN,E,162,95,67,Y,N,...,155,468,1476,73,142,0.988,100,98,werthja01,21733615
14164,2016,WAS,NL,WSN,E,162,95,67,Y,N,...,155,468,1476,73,142,0.988,100,98,zimmery01,14000000

In [92]:
data.columns

Index(['yearID', 'teamID', 'lgID', 'franchID', 'divID', 'G', 'W', 'L',
       'DivWin', 'WCWin', 'LgWin', 'WSWin', 'R', 'AB', 'H', '2B', '3B', 'HR',
       'BB', 'SO', 'SB', 'CS', 'HBP', 'SF', 'RA', 'ER', 'ERA', 'CG', 'SHO',
       'SV', 'IPouts', 'HA', 'HRA', 'BBA', 'SOA', 'E', 'DP', 'FP', 'BPF',
       'PPF', 'playerID', 'salary'],
      dtype='object')